<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/bad">Bad</a></li>
        <li><a href="/help.html">?</a></li>
    </ul>
    <h1>{{pageTitle}}</h1>
</header>